@{
  ViewData["Title"] = "About Page";
}

<section class="hero-section">
  <img class="hero-image-container" src="~/images/homepage.jpg" alt="Group Photos">
  <section class="hero-text-container">
    <h1 style="text-align: right;" class="hero-intro">ABOUT ME</h1>
    <h2 class="hero-title">The Man Behind The Code</h2>
  </section>
</section>

<h3>↑ Spot me!</h3>

<p>I am Gan Siong Bin, a Malaysian who was born in 2002. I found my passion in programming when I was 17 years old,
  discovering its capabilities in solving real-world problems and crafting creative solutions.</p>
<p>Ever since enrolling into Software Engineering Major, I always stay eager to improve my skills, from learning the
  basics of programming languages to leveraging domain-specific frameworks.</p>
<p>Other than software development, you'll often find me dedicating my effort in food-hunting and exploring new places,
  which continuously inspire me to stay engaged with the world around me.</p>

<br><br><br>

<h2 class="timeline-title">My Journey of Becoming a Software Engineer</h2>

<br><br><br>
<ul class="timeline" style="margin-left: -30px;">
  <li data-year="2019" data-text="Graduated from SM Sri KDU"></li>
  <li data-year="2021" data-text="Completed Foundation in Engineering at Multimedia University"></li>
  <li data-year="2022" data-text="Enrolled into Xiamen University Malaysia"></li>
  <li data-year="2026" data-text="Graduated from Xiamen University Malaysia"></li>
</ul>

<section class="skills-section">
  <h2 class="timeline-title">My Skills</h2>

  <div class="box-container">
    <div class="box">
      <h3>PROGRAMMING LANGUAGES</h3>
      <div class="box-item">
        <img src="~/images/icons/python.png" alt="Python" />
        <p>Python</p>
      </div>
      <div class="box-item">
        <img src="~/images/icons/csharp.png" alt="C#" />
        <p>C#</p>
      </div>
      <div class="box-item">
        <img src="~/images/icons/java.png" alt="Java" />
        <p>Java</p>
      </div>
    </div>
    <div class="box">
      <h3>FRAMEWORKS</h3>
      <div class="box-item">
        <img src="~/images/icons/netcore.png" alt="NetCore" />
        <p>ASP.NetCore</p>
      </div>
      <div class="box-item">
        <img src="~/images/icons/flutter.png" alt="Flutter" />
        <p>Flutter</p>
      </div>
      <div class="box-item">
        <img src="~/images/icons/react.png" alt="React" />
        <p>React</p>
      </div>
    </div>
    <div class="box">
      <h3>TOOLS</h3>
      <div class="box-item">
        <img src="~/images/icons/vscode.png" alt="VS Code" />
        <p>Visual Studio Code</p>
      </div>
      <div class="box-item">
        <img src="~/images/icons/git.png" alt="Git" />
        <p>Git</p>
      </div>
      <div class="box-item">
        <img src="~/images/icons/figma.png" alt="Figma" />
        <p>Figma</p>
      </div>
    </div>
  </div>
</section>